# Pod Disruption Budget
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: user-service
