# Production Overlay Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base
  - namespace.yaml
  - ingress.yaml

images:
  - name: user-service
    newName: ghcr.io/abhishekpanda0620/devsecops-platform-template/user-service
    newTag: v1.0.0

replicas:
  - name: user-service
    count: 3

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 200m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 1000m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
    target:
      kind: Deployment
      name: user-service

  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 20
    target:
      kind: HorizontalPodAutoscaler
      name: user-service

  - patch: |-
      - op: replace
        path: /spec/minAvailable
        value: 2
    target:
      kind: PodDisruptionBudget
      name: user-service

commonLabels:
  environment: prod

commonAnnotations:
  devsecops.io/environment: production
